<!DOCTYPE html>
<meta charset="utf-8">
<head>
    {{>commondependencies}}
    <link rel="stylesheet" href="css/treevisualization.css">    
</head>
<body>
    <div class="container-fluid" >
        <div id="menu">{{>menu}}</div>       
        <div id="tree"></div>       
        <script type="text/javascript" src="js/treevisualization.js">
    </div>
</script>
